.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  padding-top: 80px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #2803f8;
}
